    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About me</h2>
              <br/>
                <p>I am a dedicated technology enthusiast with a strong interest in artificial intelligence, game development, and 3D art. My passion lies in innovating and exploring the intersections of these fields to solve real-world problems and create engaging digital experiences.</p>
                <p>Currently, I work at Paket Mutfak, where I am learning to become a Software Crafter. My projects include developing a machine learning-based quality control system, creating 2D game character animations with Stable Diffusion, and addressing pathfinding challenges in game development through AI.</p>
                <p>In my free time, I explore 3D modeling and animation techniques and write articles for Fikir Gazetesi on the impact of AI on society and how we can shape our future with technological advancements.</p>
                <br/>
              </div>
        </div>
    </section>
