<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="primary">
            </div>
        </div>
        <!-- Proje 1 -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls>
                        <source src="img/project1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <p>Project 1 Description: En son projemin açıklaması buraya gelecek.</p>
            </div>
        </div>
        <hr>
        <!-- Proje 2 -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls>
                        <source src="img/project2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <p>Project 2 Description: İkinci projemin açıklaması buraya gelecek.</p>
            </div>
        </div>
        <hr>
        <!-- Proje 3 -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls>
                        <source src="img/project3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <p>Project 3 Description: Üçüncü projemin açıklaması buraya gelecek.</p>
            </div>
        </div>
        <hr>
        <!-- Proje 4 -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls>
                        <source src="img/project4.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <p>Project 4 Description: Dördüncü projemin açıklaması buraya gelecek.</p>
            </div>
        </div>
    </div>
</section>
