<section id="project1" class="content-section-a">
    <div class="container">
        <div class="row project">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Quality Control Machine Proof of Concept</h2>
                <div class="lead">
            Developed a proof of concept for a quality control machine to inspect products on a production line. The entire process was simulated to demonstrate feasibility. The machine captures images from six angles, processes them, and uses a Convolutional Neural Network (CNN) to determine if the product is defective based on known visual standards. Training was conducted using simulated flawless products, and defective products were processed in simulation to identify faults. Achieved an accuracy of over 85%.<br><br>
            <strong>Key Features:</strong><br>
            - Six-angle image capture<br>
            - Real-time image processing<br>
            - CNN-based defect detection<br><br>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay loop>
                        <source src="img/quality_control_video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project2" class="content-section-b">
    <div class="container">
        <div class="row project">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Project 2</h2>
                <div class="lead">
                    <p>İkinci projemin açıklaması buraya gelecek.</p>
                </div>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay loop>
                        <source src="img/Char.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project3" class="content-section-a">
    <div class="container">
        <div class="row project">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Project 3</h2>
                <div class="lead">
                    <p>Üçüncü projemin açıklaması buraya gelecek.</p>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay loop>
                        <source src="img/tezvidv.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project4" class="content-section-b">
    <div class="container">
        <div class="row project">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Project 4</h2>
                <div class="lead">
                    <p>Dördüncü projemin açıklaması buraya gelecek.</p>
                </div>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay loop>
                        <source src="img/3dart.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
