<section id="project1" class="content-section-a">
    <div class="container">
        <div class="row project">
            <div class="col-lg-4 col-sm-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Quality Control Machine Proof of Concept</h2>
                <div class="lead">
                    <p>I developed a proof of concept for a quality control machine designed to inspect products on a production line. The entire process was simulated to demonstrate feasibility. The machine captures images from six angles, processes them, and uses a Convolutional Neural Network (CNN) to determine if the product is defective based on known visual standards. Training was conducted using simulated flawless products, and defective products were processed in simulation to identify faults. This approach achieved an accuracy of over 85%.</p>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-sm-7 d-flex align-items-center justify-content-center vid-1">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay loop>
                        <source src="img/quality_control_video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project2" class="content-section-b">
    <div class="container">
        <div class="row project">
            <div class="col-lg-4 col-lg-offset-1 col-sm-push-7 col-sm-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">2D Game Character Attack Animations with Stable Diffusion</h2>
                <div class="lead">
                    <p>I developed a workflow to create character animations for a 2D game using Stable Diffusion. The main challenge was consistently generating the same character across multiple frames. By implementing this workflow and applying minimal Photoshop edits (such as removing artifacts), I successfully produced a seamless attack animation where the character remains consistent from the first frame to the last.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-pull-5 col-sm-7 d-flex align-items-center justify-content-center vid-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay loop>
                        <source src="img/Char.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project3" class="content-section-a">
    <div class="container">
        <div class="row project">
            <div class="col-lg-4 col-sm-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Pathfinding in Non-Continuous Maps for Game Development</h2>
                <div class="lead">
                    <p>In my master's thesis, I addressed a challenge in game development related to pathfinding in non-continuous maps, which include elements like jumping and climbing. While standard A* algorithms handle continuous maps efficiently, non-continuous maps require linking isolated islands, increasing development time and limiting NPC movements. I designed an AI model capable of learning and exploring the entire game map autonomously. This model's meaningful movements were recorded and used to create a map structure that mimics the learned behavior. Consequently, the game features NPCs that imitate the AI agent's navigation without real-time AI computation.</p>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-sm-7 d-flex align-items-center justify-content-center vid-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay loop>
                        <source src="img/tezvidv.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project4" class="content-section-b">
    <div class="container">
        <div class="row project">
            <div class="col-lg-4 col-lg-offset-1 col-sm-push-7 col-sm-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Passionate 3D Art Enthusiast</h2>
                <div class="lead">
                    <p>I am a passionate 3D art enthusiast, deeply interested in all aspects of 3D art, from modeling to animation. I dedicate my free time to learning and exploring new techniques and tools to enhance my skills in this field.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-pull-5 col-sm-7 d-flex align-items-center justify-content-center vid-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay loop>
                        <source src="img/3dart.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project5" class="content-section-a">
    <div class="container">
        <div class="row project">
            <div class="col-lg-4 col-sm-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">AI and Sociology Article Writing</h2>
                <div class="lead">
                    In my spare time, I write articles for Fikir Gazetesi on topics related to artificial intelligence and sociology. My writings focus on the impact of AI on our lives, both positive and negative, and explore how we can shape our future considering technological advancements.
                    <br><br>
                    <a href="https://fikirgazetesi.org/2024/03/01/bir-mutevazilastirma-araci-olarak-yapay-zeka/">First Article</a><br>
                    <a href="https://fikirgazetesi.org/author/dogacekici/">All My Articles</a>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-sm-7 d-flex align-items-center justify-content-center vid-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="img/fikir-1.svg" alt="Fikir Logo">
                </div>
            </div>
        </div>
    </div>
</section>
